* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins";
    background: #fffaf5;
}

/* common */

.container {
    margin: 0 auto;
    width: 1169px;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

img {
    object-fit: cover;
}

.heading {
    text-align: center;
    color: #000958;
    font-family: Sora;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 62px;
}
.desc {
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    line-height: 30px;
}

.desc-section {
    color: #5e6085;
    text-align: center;
    margin-bottom: 15px;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 16px; /* 100% */
}

.btn {
    display: block;
    width: 214px;
    height: 56px;
    padding: 20px 40px;
    border-radius: 31px;
    font-size: 1.6rem;
    line-height: 16px;
    border: 1px solid #ff5b2e;
    opacity: 0.6;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    color: #ff5b2e;
    text-align: center;
}

.fixed {
    position: sticky;
    top: -12px;
    z-index: 1000;
}

/* header */
.header {
    padding-top: 26px;
    padding-bottom: 18px;
    background: #fffaf5;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    gap: 36px;
}

.nav-item {
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    padding: 4px 8px;
    transition: color 0.2s ease;
}

.nav-item:hover {
    color: #000958;
    font-weight: 600;
}

.header-btn {
    color: #000958;
    font-size: 1.4rem;
    font-weight: 600;
    width: 117px;
    height: 50px;
    opacity: 1;
    line-height: 1;
    padding: 18px 31px;
    border: 0.5px solid #000958;
    box-shadow: none;
    border-radius: 25px;
    transition: opacity ease 0.2s;
}

.btn:hover {
    opacity: 0.7;
}

.hero-inner {
    display: flex;
    position: relative;
    margin-top: 74px;
    gap: 283px;
    padding-bottom: 71px;
}

.hero__img-wrap {
    position: relative;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
}

.hero-img-1 {
    border-radius: 16px;
    width: 388px;
    height: 488px;
}

.hero-img {
    position: absolute;
    top: 302px;
    left: 365px;
    width: 186px;
    height: 244px;
    border-radius: 16px;
    background: #faa7ad;
    border: 2px solid #efd4d6;
}

.hero-img-2 {
    margin-top: 24px;
}

.decor-1 {
    position: absolute;
    left: -57.99px;
    top: 247.5px;
    z-index: -1;
}

.decor-2 {
    position: absolute;
    top: 16.66px;
    left: 377.15px;
    z-index: -1;
}

.rectangle {
    position: absolute;
    top: 426px;
    left: 129px;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.ractangle-item {
    display: flex;
    position: relative;
    gap: 8.62px;
    padding: 20px 17px;
}

.ractangle-item::before {
    content: "";
    position: absolute;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
    top: 42px;
    left: 67px;
}

.ractangle-item::after {
    content: "";
    position: absolute;
    width: 39px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
    top: 52px;
    left: 67px;
}

.line {
    margin: 0 auto;
    width: 222px;
    height: 2px;
    background: #f2f2f2;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.avatar-1 {
    background: rgba(247, 167, 12, 0.32);
}

.avatar-2 {
    background: #6597c2;
}

.title-ractangle {
    color: #181e52;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero__content {
    margin-top: 71px;
    margin-left: auto;
}

.hero-heading {
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 76px;
}

.hero-desc {
    width: 391px;
}

.content-action {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 38px;
}

.content-btn {
    position: relative;
    width: 189px;
    height: 60px;
    background: #ff5b2e;
    opacity: 1;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 16px;
    padding: 20px 30px;
    padding-right: 60px;
}

.icon-btn {
    position: absolute;
    top: 11px;
    left: 129px;
}

.desc-btn {
    color: #000958;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-decoration-line: underline;
}

.about {
    margin-top: 100px;
    padding: 53px 0;
}

.about-inner {
    display: flex;
    align-items: center;
}

.about__content {
    width: 41%;
}

.content-title {
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 16px;
}

.about-heading {
    width: 446px;
    margin-top: 15px;
}

.about-desc {
    width: 431px;
}

.about-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 40px;
    margin-top: 54px;
    margin-left: 37px;
}

.label-about {
    position: relative;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 18px;
    cursor: pointer;
    white-space: nowrap;
}

.label-about::before {
    content: " ";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #ff5d31;
    position: absolute;
    top: -5px;
    left: -35px;
    border-radius: 5px;
}

.label-about::after {
    content: " ";
    display: block;
    width: 12px;
    height: 6px;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    rotate: -45deg;
    position: absolute;
    top: 1px;
    left: -30px;
    visibility: hidden;
}

input[type="checkbox"]:checked + label::after {
    visibility: visible;
}

input[type="checkbox"]:not(:checked) + label::after {
    visibility: hidden;
}

.about__media {
    position: relative;
    border-radius: 16px;
    width: 59%;
    margin-left: 200px;
    margin-right: -60px;
}

.about__img {
    position: relative;
    width: 494px;
    height: 559px;
    border-radius: 16px;
}

.about__rectangle {
    position: absolute;
    width: 136px;
    height: 156px;
    top: 165px;
    right: 525px;
    padding: 31px 26px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.number {
    color: #fff;
    text-align: center;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 42px;
}

.rectangle-desc {
    width: 83px;
    color: #c6f4f9;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 14px;
    line-height: 20px; /* 142.857% */
}

.about-icon {
    position: absolute;
    color: #ffa68c;
    top: 126px;
    right: 493px;
}

.about__media::after {
    position: absolute;
    display: block;
    content: " ";
    top: 223px;
    z-index: -1;
    left: 0;
    height: 336px;
    width: 494px;
    border-radius: 16px;
    background-image: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about-decor {
    position: absolute;
    bottom: 307px;
    left: 411px;
    width: 133.63px;
    height: 94.766px;
    z-index: -1;
}

.features {
    margin-top: 54px;
}

.features-inner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 24px 0;
}

.features__media {
    position: relative;
    width: 458px;
    height: 500px;
    border-radius: 18px;
    background-image: linear-gradient(180deg, #c6e2fa 50%, #94c2ea 100%);
    border: 2px solid #fff;
}

.features__img {
    width: 458px;
    height: 500px;
}

.features-decor {
    position: absolute;
}

.features-decor-1 {
    top: 12.5px;
    right: 63.16px;
}

.features-decor-2 {
    top: -16px;
    right: 13px;
}

.features-decor-3 {
    top: 33px;
    right: -21px;
}

.features-decor-4 {
    top: 268px;
    right: -40px;
}

.features-decor-5 {
    top: 336px;
    right: 19px;
}

.features-decor-6 {
    top: 435px;
    right: -42px;
}

.features__content {
    width: 48%;
}

.features-heading {
    width: 543px;
}

.features-desc {
    width: 511px;
}

.features__content-service {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 557px;
    margin-top: 52px;
    margin-left: -6px;
}

.features__content-service::after {
    position: absolute;
    content: "";
    display: block;
    width: 99%;
    height: 2px;
    background: #f2e1db;
    bottom: -11px;
    margin-left: 7px;
    right: 0;
    border-radius: 3px;
}

.sevice {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.sevice::after {
    position: absolute;
    left: 6px;
    bottom: -11px;
    content: "";
    width: 95px;
    height: 2px;
    border-radius: 3px;
    background: #ff5b2e;
    z-index: 0;
    transition: all 0.25s linear;
}

.sevice:nth-child(2)::after {
    bottom: -11.5px;
}

.sevice:last-child::after {
    bottom: -21px;
}

.sevice:hover::after {
    z-index: 1;
}

.active-sevice::after {
    position: absolute;
    left: 6px;
    bottom: -11px;
    content: "";
    width: 95px;
    height: 2px;
    border-radius: 3px;
    background: #ff5b2e;
    z-index: 1;
    transition: all 0.25s linear;
}

.sevice-img-2,
.sevice-img-3 {
    margin-right: 7px;
}

.sevice-img-1 {
    margin-top: 5px;
}

.sevice-img-2 {
    margin-top: 10px;
}

.heading-sevice {
    color: #48496a;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 18px;
    white-space: nowrap;
}

.features__content-desc {
    width: 391px;
    color: #656689;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    margin-top: 36px;
    margin-bottom: 32px;
}

.features-link {
    color: #ff5d31;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */
    border-bottom: 1.5px solid #ff5d31;
}

.sevices {
    margin-top: 130px;
    background: #fff6ed;
}

.sevices-inner {
    padding: 68px 0 100px;
}

.top-sevices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-sevices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 88px;
    row-gap: 24px;
    column-gap: 70px;
    position: relative;
}

.sevices-media {
    position: relative;
    margin: auto;
    width: 447px;
    height: 621px;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}

.img-sevices {
    position: relative;
    width: 447px;
    height: 593px;
    z-index: 2;
}

.rectangle-blue {
    position: absolute;
    bottom: 28px;
    left: 22px;
    width: 410px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
    z-index: 1;
}

.sevices-btn {
    font-weight: 500;
    margin-top: 45px;
}

.card {
    padding: 30px 28px;
    width: 294px;
    height: 208px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.card-heading {
    position: relative;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 22px; /* 100% */
    margin-left: 12px;
}

.card-heading::before {
    display: block;
    position: absolute;
    top: 0;
    left: -12px;
    content: " ";
    width: 2px;
    height: 22px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.card-desc {
    width: 244px;
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

.action-link {
    display: flex;
    gap: 6px;
    margin-top: 24px;
}

.card-link {
    color: #34396a;
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 12px;
    vertical-align: middle;
}

.icon-sevices {
    vertical-align: middle;
}

.team {
    margin-top: 130px;
}

.team-list {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    gap: 55px;
}

.team-item {
    position: relative;
    width: 234px;
    height: 290px;
}

.thumb-team {
    position: relative;
    width: 234px;
    height: 290px;
    border-radius: 129.5px;
    z-index: 1;
}

.bg-img {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: 234px;
    height: 266px;
    border-radius: 129.5px;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.decor-1 {
    position: absolute;
    top: 176px;
    left: 50%;
    transform: translateX(-50%);
}

.team-item:nth-child(2) .decor-1 {
    top: 19px;
}

.team-item:last-child .decor-1 {
    position: absolute;
    top: 19px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}

.position {
    margin-top: 29px;
    color: #656689;
    text-align: center;
    font-size: 1.4rem;
    line-height: 14px;
}

.item-name {
    margin-top: 14px;
    color: #000958;
    text-align: center;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 22px;
}

.team-btn {
    width: 193px;
    margin-top: 127px;
}

.pricing {
    margin-top: 130px;
    background: #fff6ed;
}

.pricing-inner {
    padding: 86px;
}

.sub-heading {
    width: 709px;
    color: #656689;
    text-align: center;
    font-size: 1.6rem;
    line-height: 30px;
    margin: auto;
    margin-top: 24px;
}

.select__date {
    position: relative;
    display: flex;
    width: 276px;
    height: 56px;
    border-radius: 31px;
    outline: 1px solid #ff5b2e;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 38px;
}

.btn-date {
    opacity: 1;
    border: none;
    box-shadow: none;
}

.btn-date:hover {
    background-color: #ff5b2e;
    color: #fff;
    opacity: 1;
}

.active-pricing {
    background: #ff5b2e;
}

.decor-pricing {
    width: 86.614px;
    height: 36.801px;
    position: absolute;
    top: -10px;
    left: 300px;
}

.pricing__card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 56px;
}

.pricing__card-item {
    width: 302px;
    height: 465px;
    border-radius: 20px;
    background: #fff;
    padding: 30px 28px;
}

.pricing-type {
    color: #ff5b2e;
    font-size: 1.2rem;
    line-height: 12px;
}

.level-care {
    color: #3f4065;
    font-family: Sora;
    font-size: 1.8rem;
    margin-top: 8px;
    font-weight: 600;
    line-height: 18px;
}

.price {
    margin-top: 24px;
    color: #000958;
    font-family: Sora;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
}

.purchase {
    width: 246px;
    border-radius: 39px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    padding: 14px 65px;
    height: 44px;
    margin-top: 22px;
    opacity: 1;
    box-shadow: none;
}

.purchase:hover {
    border-radius: 39px;
    opacity: 1;
    background: #ff5b2e;
    color: #fff;
}

.purchase-active {
    background: #ff5b2e;
    color: #fff;
}

.list__sevices-care {
    margin-top: 24px;
}

.item__sevices-care {
    position: relative;
    color: #656689;
    font-size: 1.4rem;
    line-height: 14px;
    margin-left: 19px;
}

.item__sevices-care::before {
    display: block;
    content: "";
    position: absolute;
    top: 3px;
    left: -17px;
    width: 7px;
    height: 4px;
    border-bottom: 1px solid #FF5B2E;
    border-left: 1px solid #FF5B2E;
    rotate: -45deg;
}

.item__sevices-care-disable + .item__sevices-care::before {
    opacity: 0.4;
}

.item__sevices-care:not(:first-child) {
    margin-top: 18px;
}
